<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>

<h1 th:text="owners">Owners</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Fist Name</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Pete</td>
        <td th:text="${owner.lastName}">Achternaam</td>
    </tr>
    </tbody>
</table>

</body>
</html>